@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
  @apply mx-auto max-w-7xl px-4 md:px-6;
}

body {
  @apply bg-stone-800 text-white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
}
